<div class="bg-dark">
    <div class="container py-5">
        <div class="d-flex flex-row">
            <div class="pe-4">
                <img class="logo" src="assets/img/logo-toro.svg">
            </div>
            <div class="headline-section">
                <div class="content">
                    Thanks for visiting my website! Designed with Figma, Made with &lt;/&gt; Angular.
                </div>
                <div class="contact-section d-flex flex-row pt-2">
                    <a title="Email" target="_blank" href="mailto:reahrajmangal@gmail.com"><img class="icon pe-2" src="assets/img/icons/mail.svg"></a>
                    <a title="Linkedin" target="_blank" href="https://linkedin.com/in/reahr"><img class="icon pe-2" src="assets/img/icons/linkedin.svg"></a>
                    <a title="GitHub" target="_blank" href="https://github.com/reahr"><img class="icon pe-2" src="assets/img/icons/github.svg"></a>
                </div>
            </div>
        </div>
    </div>
</div>