<h1 class="pt-3">About</h1>
<hr class="divider">
<div class="headline-section pt-2">
    <div class="d-flex align-items-center content">
        <div class="pe-0 pe-lg-5">
            <img class="img-fluid" src="assets/img/swiss-alps@2x.png">
        </div>
        <div class="col-lg-8 pt-3 pt-lg-0">
           <div class="pb-3">/ree•uh/</div>
           <div>I’m a product manager based in New York City with a background in engineering and design.</div>
        </div>
    </div>
</div>
<div class="long-description-content pt-3 pt-lg-4">
    <p>
        Before becoming a product manager, I worked as a front-end engineer, building seamless interfaces with various
        technologies. At RelPro, I had the chance to dive into UX design, refining a user-centered design process that meets
        both business and user needs.
    </p>
    <p>
        My experience in both design and engineering allows me to lead teams effectively, whether guiding designers,
        conducting research, or collaborating with engineers on technical feasibility. I focus on ensuring smooth product
        development and fostering an inclusive, empowering environment.
    </p>
    <p>
        As for fun, I love boxing (to relieve some stress when curveballs are added to the roadmap), reading (to distract
        myself from those curveballs), and traveling (to avoid them altogether... jk). I also love watching action movies
        and psychological thrillers.
    </p>
</div>
