/* You can add global styles to this file, and also import other style files */
@import "assets/scss/brand.scss";

body {
    font-family: $font-family-base; 
    color: $light-bg-txt;
}

h1 {
    font-family: 'Playfair Display', sans-serif;
    font-weight: 400;
    text-align: center;
}

p {
    font-weight: 300;
    @media screen and (min-width: 992px) {
        font-size: 20px;
    }
}

.divider {
    background-color: $divider-bg; 
    height: 2px; 
    border: 0;
}

.headline-section {
    .content {
        flex-wrap: wrap;
        // justify-content: center;
    }

    font-size: 18px; 
    img {
        // max-height: 250px;
    }
    
    @media screen and (min-width: 992px) {
        font-size: 24px;
        img {
            max-height: 312px;
        }
    }
}